html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1536px;
    margin: 0 auto;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Inter', sans-serif;*/
}

.header-inner {
    display: flex;
    background-color: #0B0F10;
    max-height: 131px;
}

.logo img {
    max-width: 130px;
    max-height: 130px;
    margin-left: 70px;
}

.logo_link {
    display: flex;
}

.logo h1 {
    font-size: 40px;
    font-weight: 500;
    margin-top: 33px;
    margin-bottom: 31px;
    margin-left: -25px;
}

.navigacja {
    margin-left: 150px;
}

.block_nav {
    display: flex;
    gap: 30px;
    margin-top: 52px;
    
}

.designation {
    color: #FF6A35;
}

.logowanie {
    margin-left: 230px;
    background-color: #B4B9BD;
    width: 121px;
    height: 45px;
    text-align: center;
    border-radius: 16px;
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    width: 100%;
    height: 950px;
    background-image: url(../image/men.png);
    background-repeat: no-repeat;
}

.hero__fix {
    margin-left: 71px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 100px;
}

.hero__text-head {
    font-size: 72px;
    font-weight: 600;
    max-width: 510px;
    max-height: 321px;
    margin-bottom: 24px;
}

.hero__text-secondary {
    font-size: 16px;
    font-weight: 600;
    max-width: 525px;
    margin-bottom: 40px;
}

.rezerwacja {
    background-color: #FF6A35;
    width: 271px;
    height: 75px;
    border-radius: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 400;
}